@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

*{
    padding: 0%;
    margin: 0%;
}
body{
    
}
header{
    text-align: center;
    padding: 9vh;
    background-color: aqua;
}
section.paragrafo{
    padding: 30px;
}

section{
    padding: 5px;
}