@charset "UTF-8";

    *{
        font-family: Arial, Helvetica, sans-serif;
    }
    .main-grid{
        display: grid;
        grid-template-areas: 
        "h h"
        "m m"
        "f f";
    }
    body{
        background-color: rgb(23, 33, 51);
    }
    header{
        grid-area: h;
    }
    #title{
        margin: 1em;
    }
    nav{
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.39);
        border-radius: 10px;
        padding: 10px 10px;
        margin: 0px 16px 
    }
    nav>a{
        color: aliceblue;
        font-family:Arial, Helvetica, sans-serif;
        margin-right: 1em;
        text-decoration: none;
    }
    main{
        display: flex;
        flex-direction: row;
        background-color:rgba(0, 0, 0, 0.39);
        padding: 1em;
        margin: 1em;
        border-radius: 15px;
    }
    
    article{ 
        border-radius: 15px;
        padding: 1em;
        grid-area: m;
    }
    picture>img{
        width: 100%;
    }
    h1,h2{
        color: aliceblue;
        font-family: Arial, Helvetica, sans-serif;
        margin:0;
    }
    
    p{
        text-align: justify;
        color: aliceblue;
    }
    a{
        text-decoration: none;
        margin: 0.3em 0em 0.3em;

    }
    a:hover{
        text-decoration: underline;
    }
    a:visited{
        color: rgb(134, 134, 134);
    }
    aside{
        background-color: rgba(0, 0, 0, 0.39);
        border-radius: 10px; 
        height: 8em;
        width: auto;
        padding: 1em;
        margin:1em 1em 0 0;
    }
    .asidetitle{
        margin-bottom: 0.3em;
    }
    .asidelinks{
        display:grid;
        justify-content: center;
    }
    footer{
        background-color: rgba(0, 0, 0, 0.39);
        border-radius: 10px;
        padding: 0.1em;
        grid-area: f;
        margin: 0px 16px 
    }
    footer>p{
        color: aliceblue;
        text-align: center;
    }